* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: turquoise;
  --secondary-color: orange;
  --mob-fontp: 20px;
}

html {
  overscroll-behavior: none;
}

nav {
  display: flex;
  padding: 10px 5%;
  background-color: rgb(65, 200, 185);
  align-items: center;

  .logo {
    margin: 0 auto;

    img {
      width: 100px;
      height: auto;
    }
  }
}

nav .menu ul {
  list-style: none;
  gap: 20px;
}

#menu {
  width: 100%;
  background-color: rgb(65, 200, 185);
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#menu ul li {
  display: flex;
  border-top: 2px solid var(--secondary-color);
  width: 100%;
}

#menu ul li:last-child {
  border-bottom: 2px solid var(--secondary-color);
}

#menu ul li:hover {
  background-color: turquoise;
}

#menu ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

#menu-btn {
  text-decoration: none;
  height: 40px;
  width: 50px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  margin-left: 75vw;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
}

footer {
  background-color: rgb(65, 200, 185);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.innerFooter {
  width: 98vw;
}

.footer-logo {
  width: 120px;
}

.social-icon {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.social-icon:hover {
  color: #f8b400;
}

@media (min-width: 1024px) {
  #menu-btn {
    display: none;
  }

  #menu {
    display: flex;
    max-height: none;
    li {
      width: 100vw;
    }
  }
}
