:root {
  --primary-color: turquoise;
  --secondary-color: orange;
  --mob-fontp: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color) !important;
  color: white;
  background-image: url(../Img/IMG_RptlyGhJ7yJ4-Photoroom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
}

.background {
  background-image: url(../Img/cartoon-wooden-surface-600nw-252762637.png);
  width: 75vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  border: orange 5px solid;
  border-radius: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  .aantal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin-right: 10%;
    input {
      width: 100%;
    }
  }
}

.background {
  background-image: url(../Img/cartoon-wooden-surface-600nw-252762637.png);
  width: 100vw;
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  border: orange 5px solid;
  border-radius: 50px;
  padding: 20px;
}

.innerImg {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 100%;
}
.imgDiv1 {
  background-image: url(../Img/gallery/7166616329_6792b4a07a_z.jpg);
}
.imgDiv2 {
  background-image: url(../Img/gallery/Thai-street-food-1-of-11.jpg);
}
.imgDiv3 {
  background-image: url(../Img/gallery/springroll1.png);
}
.imgDiv4 {
  background-image: url(../Img/gallery/Look_Chin_Ping.webp);
}
.imgDiv5 {
  background-image: url(../Img/gallery/hat-yai-fried-chicken-blog-edited.jpg);
}
.imgDiv6 {
  background-image: url(../Img/gallery/bangkok-street-food-guide-2.jpg);
}

.innerImg #imgDiv {
  width: 50%;
  height: 85%;
  max-width: 600px;
  margin: 0 0 0 15px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: transform 1000ms;
  color: var(--primary-color);
  box-shadow: 0 0px 50px rgb(0, 0, 0);
}

.innerImg #imgDiv:hover {
  transform: scale(1.05);
  transition: transform 1000ms;
}

#imgDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
}

#imgDiv h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  text-shadow: -2px 0 rgb(0, 0, 0), 0 2px black, 2px 0 black, 0 -2px black !important;
}

#imgDiv p {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black !important;
}

.totaalPrijs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 30px;
}

.AddCart {
  border: black 2px black;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .innerImg {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .totaalPrijs {
    grid-column: span 2;
  }

  .background {
    max-width: 1600px;
    width: 90vw;
    height: 1100px;
  }
  .verstuur {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width: 100%;
    grid-column: span 2;
    margin-left: 3px;

    button {
      background-color: var(--secondary-color);
      color: white;
      border: none;
      padding: 10px 0px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
}
